@import url("../App.css");

/* ==============================================================================
Home Component
============================================================================== */
.page {
    max-width: 1500px;
}

.dark-theme {
    background: var(--background-dark);
    color: var(--text-dark);
}

.dark-theme button {
    background: var(--background-dark);
    color: var(--text-dark);
}

.light-theme {
    background: var(--background-light);
    color: var(--text-light);
}

#note-section {
    justify-content: space-evenly;
    display: flex;
    margin: auto;
    margin-top: 2rem;
}

#home-edit-note {
    padding: 1rem;
    width: 30%;
}

#note-contianer {
    padding: 1rem;
    width: 70%;
}

.note-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#select-search {
    background: var(--background-light);
    margin-bottom: 1rem;
    width: 30%;

    border-radius: var(--corner-radius);
    padding: 0.2rem;
    padding-left: 1rem;
}

.dark-theme #select-search {
    background: var(--background-dark);
    color: var(--text-dark);
    border: var(--text-dark) 1px solid;
}

@media (max-width: 600px) {
    #note-section {
        display: block;
        margin: auto;
        margin-top: 2rem;
    }

    #home-edit-note {
        margin: auto;
        width: 60%;
    }

    #note-contianer {
        margin: auto;
    }
}
