
@import url('../App.css');

/* ==============================================================================
note card Component
============================================================================== */

.noteCard {
    border-radius: var(--corner-radius);
    width: 80%;
    margin: auto;

    padding: 1rem;
    padding-top: .1rem;
    padding-bottom: 4.5rem;

    position: relative;
}

.light-theme .noteCard {
    background-color: var(--background-light);
    border: var(--text-light) solid 1px;
}

.dark-theme .noteCard {
    border: var(--text-dark) solid 1px;
    background: var(--background-dark);
    color: var(--text-dark);
}

/* ------------ buttons ------------ */

.noteCard-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.dark-theme .noteCard button {
    border-radius: var(--corner-radius);
    background: var(--background-dark);
    border: var(--text-dark);
}

.noteCard button {
    border-radius: var(--corner-radius);
    background: var(--background-light);
    border: none;
}

.noteCard button:hover {
    background: var(--hover-button-bg);
}

.dark-theme .noteCard button:hover {
    background: var(--hover-button-bg-dark);
    color: var(--hover-button-text-dark);
}

/* ------------ media query ------------ */

@media (max-width: 600px) {
    .noteCard {
        margin-top: .1rem;
        margin-bottom: .1rem;
    }
}
